.notification {
  .notice {
    background-color:#3CCACE;
    color: black;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .alert {
    background-color:rgb(111, 203, 206);
    color: black;
    text-align: center;
    height: 30px;
    line-height: 30px;
  }
}