.content{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: $yewh;
  margin: 0;
  padding: 0;
}
.content-card{
  width: 100%;
  margin-bottom: 50px;
  .form-require{
    @include need;
  }  
  &__input{
  width: 700px;
  margin: auto;
  background-color:$white;
  .content-card__input__head{
    @include mainhead;
    }
  .content-card__input__form{
    padding: 24px,16px,40px;
    &__inner{
      max-width: 343px;
      margin: auto;
      .form-group{
        margin: 40px 0 0;
        label{
          font-weight: 600;
        }
        .require{
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
          background: #ea352d;
        }
        .number{
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 100%;
          margin: 8px 0 0;
        }
          &__input-number{
            @include input;
          }
          .signup-card-list{
            list-style: none;
            margin: 8px 0 0;
            li{
              margin-left: 8px;
              display: inline;
            }
          }
        .form-group-signup-form-expire{
          margin-top: 28px;
        }
        .select-wrap-half{
          display: inline;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 100%;
          margin: 8px 0 0;
        }
          #exp_month{
            position: relative;
            z-index: 2;
            width: 43%;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            margin: 8px 0 0;
          }
          #exp_year{
            position: relative;
            z-index: 2;
            width: 44%;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            margin: 8px 0 0;
          }
          .form-group1{
            margin-top: 28px;
          }
          #cvc{
            display: inline;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            width: 100%;
            margin: 8px 0 0;
          }
          #card_number {
            display: inline;
            /* font-weight: 600; */
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            width: 100%;
            margin: 8px 0 0;
          }
        
        
      }
        .form-signup{
          margin-top: 24px;
          &__expire{
            @include label;
          }
          &__select{
            margin-top: 8px;
            margin-bottom: 24px;
            display: flex;
            span{
              margin: 0 5px;
            }
            &__month{
              &__default{
                @include select;
                width: 130px;
              }
            }
            &__year{
              &__default{
                @include select;
                width: 130px;
              }
            }
          }
        }
        .form-security{
          &__code{
            @include label;
          }
          &__input-code{
            @include input;
          }
        }
        .form-btn{
          @include submit;
        }
        #token_submit{
          margin: 24px 0 0;
          background: #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}
.main-bar1 {
  margin-left: 50px;
  width: 700px;
  margin-right: auto;
  &-box{
    background-color: $white;
    text-align: center;
  }
    h2{
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      padding: 32px;
    }
    .form-content{
      text-align: center;
      font-size: 17px;
      font-weight: bold;
      line-height: 30px;
    }
    span{
      font-size: 14px;
      margin-bottom: 10px;
    }
    .form-content2{
      text-align: center;
      font-size: 17px;
      font-weight: bold;
      padding: 15px;
      line-height: 30px;
    }
    #charge-form{
      margin: 0 80px;
    }
      .delete-btn{
        margin: 24px 0 0;
        background: #ea352d;
        margin: auto;
        color: #fff;
        display: block;
        width: 320px;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        transition: all ease-out .3s;
        cursor: pointer;
        text-decoration: none;
      }

  
}