.content{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: $yewh;
  margin: 0;
  padding: 0;
}
.content-delivery{
  width: 100%;
  margin-bottom: 50px;
  &__input{
  width: 700px;
  margin: auto;
  background-color:$white;
  .content-delivery__input__head{
    @include mainhead;
    }
  .form{
    margin: auto;
    max-width: 343px;
    .form-group{
      margin: 40px 0 0;
        &__label{
          @include label;
        }
        .form-require{
          @include need;
        }
        .form-any{
          @include any;
        }
        &__family{
          @include input;
        }
        &__first{
          @include input;
        }
        &__family-kana{
          @include input;
        }
        &__first-kana{
          @include input;
        }
        &__prefecture-select{
          @include select;
          width: 100%;
          margin-top: 8px;
        }
        &__post_code{
          @include select;
          width: 100%;
          margin-top: 8px;
        }
        &__city{
          @include input;
        }
        &__number{
          @include input;
        }
        &__building{
          @include input;
        }
        &__phone-number{
          @include input;
        }
      }
      .form-btn{
        @include submit;
      }
    }
  }
}

.form-group__birthday{
  width: 100%;
  margin-top: 8px;
  #user_birthday_date_1i{
    @include select;
    width: 33%;
  }
  #user_birthday_date_2i{
    @include select;
    width: 32%;
  }
  #user_birthday_date_3i{
    @include select;
    width: 32%;
  }
}