.credit-content{
  margin-left: 50px;
  width: 700px;
  background-color: $white;
  text-align: center;
  margin: auto;
  &__header{
    @include mainhead;
  }
  .credit-form{
    width: 320px;
    margin: auto;
    .credit-label{
     @include h3;
     float: left;
    }
    .credit-btn{
    margin: auto;
    @include a;
    @include submit;
    margin-bottom: 30px;
    }
  }
}