img {
  vertical-align: middle;
  box-sizing: border-box;
}
.error-messages{
  color: #ff0211;
  font-size: 14px;
  line-height: 1.4em;
  margin: 16px 0;
  box-sizing: border-box;
}
.sell-title-name{
  align-items: center;
  box-sizing: border-box;
}

.sell-title-price{
  margin-top: 0;
}

.sell-title{
  align-items: center;
  box-sizing: border-box;
  margin-top: 32px;
  &__text{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    margin: 0;
  }
  &__require{
    margin-left: 8px;
    font-size: 12px;
    padding: 0 4px;
    background-color: #ff0211;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4em;
    margin: 0 0 0 8px;
  }
  .item-num-0{
    width: 100%;
  }
  .item-num-1{
    width: 491px;
  }
  .item-num-2{
    width: 363px;
  }
  .item-num-3{
    width: 234px;
  }
  .item-num-4{
    width: 106px;
  }
  //下段のfile_field
  .item-num-5{
    width: 100%;
  }
  .item-num-6{
    width: 491px;
  }
  .item-num-7{
    width: 363px;
  }
  .item-num-8{
    width: 234px;
  }
  .item-num-9{
    width: 106px;
  }
  &__any{
    margin-left: 8px;
    font-size: 12px;
    padding: 0 4px;
    background-color: #bfbfbf;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4em;
    margin: 0 0 0 8px;
  }
}

.sell-sub-head{
  box-sizing: border-box;
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 24px;
  display: flex;
  margin-top: 0;
  &__guides-link{
    color: rgb(0, 149, 238);
    margin-left: 4px;
  }
}

.sell-collection_select{
  box-sizing: border-box;
  margin-top: 16px;
  &__label{
    display: inline-block;
    position: relative;
    width: 100%;
    #item_postage_peyer_id {
      -moz-appearance: none;
      appearance: none;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: #222;
      font-size: 16px;
      height: 48px;
      line-height: 1;
      margin: 0;
      outline: none;
      padding: 0 56px 0 16px;
      width: 100%;
    }
    #item_prefecture_id {
      -moz-appearance: none;
      appearance: none;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: #222;
      font-size: 16px;
      height: 48px;
      line-height: 1;
      margin: 0;
      outline: none;
      padding: 0 56px 0 16px;
      width: 100%;
    }
    #item_preparation_day_id {
      -moz-appearance: none;
      appearance: none;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: #222;
      font-size: 16px;
      height: 48px;
      line-height: 1;
      margin: 0;
      outline: none;
      padding: 0 56px 0 16px;
      width: 100%;
    }
    #item_condition_id {
      -moz-appearance: none;
      appearance: none;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: #222;
      font-size: 16px;
      height: 48px;
      line-height: 1;
      margin: 0;
      outline: none;
      padding: 0 56px 0 16px;
      width: 100%;
    }
    .fas.fa-chevron-down{
      box-sizing: border-box;
      pointer-events: none;
      position: absolute;
      right: 16px;
      top: 40%;
      color: rgb(136, 136, 136);
      height: 48px;
    }
  }
  &__pulldown{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
  }
  &__input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #222;
    font-size: 16px;
    height: 48px;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0 56px 0 16px;
    width: 100%;
  }
}
// ここより上は繰り返し使用するパーツ

.sell {
  box-sizing: border-box;
  position: relative;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box;
  .sell-header{
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .sell-container{
    box-sizing: border-box;
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);

    // 画像部分
    &__content{
      height: auto;
      padding: 40px;
      border-bottom: 1px;
      border-bottom-color: #efefef;
      border-bottom-style: solid;
      &__max-sheet{
        margin-top: 16px;
      }
      &__upload{
        margin-top: 16px;
        &__items{
          display: flex;
          flex-wrap: wrap;
          margin: -8px -4px 0px;

          &__box{
            height: 150px;
            margin-top: 8px;
            flex: 1 1 0%;
            padding: 0px 4px;

            #output-box{
              align-content: center;
              -webkit-box-align: center;
              align-items: center;
              background-color: rgb(245, 245, 245);
              cursor: pointer;
              display: flex;
              height: 100%;
              flex-wrap: wrap;
              -webkit-box-pack: center;
              justify-content: center;
              position: relative;
              border-width: 1px;
              border-style: dashed;
              border-color: rgb(204, 204, 204);
              border-image: initial;
              transition: all 0.5s ease-out 0s;

              .preview-image{
                box-sizing: border-box;
                height: 150px;
                width: 20%;
                padding: 0px 4px;
                margin-top: 8px;

                &__figure{
                  margin:0 auto;
                  height: 118px;
                  background-color: rgb(245, 245, 245);
                  img{
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
                &__button{
                  border-top-width: 1px;
                  border-top-color: rgb(204, 204, 204);
                  border-top-style: solid;
                  background-color: rgb(245, 245, 245);
                  justify-content: space-around;
                  display: flex;
                  align-items: center;
                  height: 32px;
                  color: rgb(0, 149, 238);
                }
              }
              

              #image-input{
                // display: none;
                height: 100%;
                width: 100%;
                .js-file_group {
                  fill: rgb(34, 34, 34);
                  height: 100%;
                  width: 100%;
                  
                }
                .label {
                  height: 100%;
                  width: 100%;
                }

                  .fas.fa-camera {
                    font-size: 20px;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    padding-top: 7%;
                    display: inline-block;
                    .fas.fa-camera::before {
                      margin-bottom: 10px;
                    }
                  }
                    .text{
                      font-size: 12px;
                      line-height: 1.4em;
                      text-align: center;
                      width: 100%;
                      margin-top: 10px;
                    }
                  .sell-container__content__upload__items__box__input {
                    box-sizing: border-box;
                    display: none;
                  }

                  .sell-container__content__upload__items__box__label{
                    box-sizing: border-box;
                    background-color: rgb(245, 245, 245);
                    height: 150px;
                    border-width: 1px;
                    border-style: dashed;
                    border-color: rgb(204, 204, 204);
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                      box-sizing: border-box;
                      margin-bottom: 8px;
                    }
                }
              }
            }
          }
        }
      }
    }

    // 商品名部分
    &__content{
      &__name{
        margin-top: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 48px;
        padding: 0 16px;
        width: 100%;
        font-size: 16px;
      }
      &__description{
        margin-top: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 16px;
        width: 100%;
        font-size: 16px;
        display: block;
        font-size: 17px;
      }
      &__word-count{
        text-align: right;
        color: #888;
        font-size: 12px;
        line-height: 1.4em;
      }
    }
    // 詳細は共通パーツのみ
    // 配送は共通パーツのみ
    // 価格部分
    &__content{
      &__price{
        -webkit-box-align: center;
        align-items: center;
        box-sizing: content-box;
        display: flex;
        height: 46px;
        justify-content:space-between;
        &form__label{
          font-size: 14px;
        }
        &__form__box{
          border: 1px solid #ccc;
          border-radius: 4px;
          height: 48px;
          margin-left: 8px;
          padding: 0 16px;
          width: 300px;
          align-items: center;
          display: inline-flex;
          text-align: right;
        }
      }
      #error-price{
        box-sizing: border-box;
        text-align: right;
      }
      &__commission{
        display: flex;
        justify-content:space-between;
        height: 70px;
        padding: 12px 0px;
        align-items: center;
        border-bottom: 1px;
        border-bottom-color: #efefef;
        border-bottom-style: solid;
      }
      &__profit{
        display: flex;
        justify-content:space-between;
        height: 70px;
        padding: 12px 0px;
        align-items: center;
      }
    }
    .submit-btn{
      box-sizing: border-box;
      margin: 0 auto;
      width: 360px;
      margin-bottom: 32px;
      &__sell-btn{
        background-color: #ea352d;
        color: #fff;
        margin-bottom: 24px;
        width: 100%;
        font-size: 17px;
        height: 48px;
        font-weight: 600;
        border-radius: 4px;
      }
      &__return-btn{
        color: #0095ee;
        width: 100%;
        height: 48px;
        padding: 14px 0;
        border-radius: 4px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
      }
    }
    .attention-box{
      box-sizing: border-box;
      font-size: 12px;
      line-height: 1.4em;
      word-break: keep-all;
      a{
        box-sizing: border-box;
        color: #0095ee;
        text-decoration: none;
      }
    }
  }
  .sell-footer{
    box-sizing: border-box;
    padding-top: 40px;
    text-align: center;
    nav{
      box-sizing: border-box;
      .clearfix{
        box-sizing: border-box;
        display: inline-block;
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        li{
          box-sizing: border-box;
          margin: 0px 8px;
        }
      }
    }
  }
}


.item-num-0{
  width: 100%;
}
.item-num-1{
  width: 491px;
}
.item-num-2{
  width: 363px;
}
.item-num-3{
  width: 234px;
}
.item-num-4{
  width: 106px;
}
//下段のfile_field
.item-num-5{
  width: 100%;
}
.item-num-6{
  width: 491px;
}
.item-num-7{
  width: 363px;
}
.item-num-8{
  width: 234px;
}
.item-num-9{
  width: 106px;
}