%nav.breadCrumbs
  %ul
    %li
      = link_to root_path do
        FURIMA
    %li
      %i.fa.fa-angle-right
    %li
      = link_to 'http://localhost:3000/users/show' do
        マイページ
    %li
      %i.fa.fa-angle-right
    - if controller.controller_name == 'logout' && controller.action_name = 'index'
      %li
        = link_to root_path do
          ログアウト
    - if controller.controller_name == 'mypages_cards'
      %li
        = link_to root_path do
          支払い方法